body {
   margin: 0;
   display: grid;
   font-family: "Roboto", sans-serif;
   grid-template-areas:
      "nav     nav"
      "display filter";
   grid-template-columns: auto 450px;
   grid-template-rows: 50px auto;
   height: 100vh;
}

.material-icons {
   cursor: pointer;
   user-select: none;
}

button {
   cursor: pointer;
}





nav {
   background: #800000;
   grid-area: nav;
   color: white;
   width: 100%;
   height: 50px;
   position: fixed;
   justify-content: space-between;
   display: flex;
   top: 0;
   z-index: 500;
}

#menuIcon {
   position: fixed;
   left: 5px;
   top: 0px;
   z-index: 700;
}

#filter {
   display: none;
   font-weight: bold;
   font-size: 3em;
   position: absolute;
   right: 45px;
   top: 1px;
}

#help {
   font-weight: bold;
   font-size: 3em;
   position: absolute;
   right: 10px;
   top: -4px;
}

#courseSelectorLabel {
   font-family: serif;
   font-size: 1.6em;
   position: relative;
   top: -15px;
}

#courseSelectorArrow {
   font-size: 3em;
   position: relative;
   right: 4px;
   top: 1px;
}





#menuPage {
   background: #EEEEEE;
   display: none;
   flex-direction: column;
   justify-content: space-between;
   position: absolute;
   width: 400px;
   height: 100%;
   z-index: 600;
   border-right: #800000 4px solid;
}

#menuList {
   width: 95%;
   margin-left: 5%;
   margin-top: 70px;
   border-left: 4px #800000 solid;
   border-top: 4px #800000 solid;
}

.menuListItem {
   border-bottom: 4px #800000 solid;
   height: 42px;
   margin-right: 4px;
   background: white;
   text-align: right;
}

.menuListItem>span {
   font-size: 1.5em;
   font-weight: bold;
   display: inline-block;
   position: relative;
   bottom: 47px;
   left: 19px;
}

.menuListItem>i {
   font-size: 4.8em;
   color: #800000;
   position: relative;
   bottom: 16px;
   left: 18px;
}

#logOutButton {
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 30px;
   height: 40px;
   width: 300px;
}





#displayPage {
   grid-area: display;
   display: flex;
   flex-flow: column;
   justify-content: space-between;
   margin-left: 4%;
   margin-right: 8%;
}

#displayHeader {
   display: flex;
   margin-top: 20px;
   justify-content: space-between;
}

#favoriteStar {
   width:  40px;
   height: 40px;
   color: black;
   position: relative;
   top: 12px;
   right: 4px;
}

#displayMain {
   height: 100%;
}

#displayTable {
   min-height: 80%;
   display: grid;
   grid-template-rows: auto auto auto auto auto auto auto auto auto auto;
   grid-template-columns: 1fr 2fr 2fr 2fr 2fr 2fr;
   border: 1px solid black;
   text-align: center;
}

#displayTable>div {
   border: 1px solid black;
   height: 100%;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.table-header {
   font-weight: bold;
}

#displayArrows {
   display: flex;
   justify-content: space-between;
   margin-left: 10px;
   margin-right: 10px;
   margin-top: 15px;
   margin-bottom: 25px;
}

.circle {
   width:  60px;
   height: 60px;
   background: #A4A4A4;
   /* border: 1px solid black; */
   border-radius: 50%;
}

.circle>i {
   font-weight: bolder;
   font-size: 2.8em;
   color: white;
   position: relative;
   top: 7px;
   left: 7px;
}

#displayFooter {
   margin-bottom: 17px;
}

#displayKeyLabel {
   font-family: serif;
   font-size: 2em;
   margin-left: 5px;
}

#displayKeyEntryList {
   display: flex;
   max-height: 22vh;
   margin-top: 8px;
   flex-flow: column wrap;
   justify-content: flex-end;
}

.displayKeyEntry {
   margin: 5px;
}

.displayKeyColor {
   display: inline-block;
   width:  30px;
   height: 30px;
   background: red;
   border: 1px solid black;
}

.displayKeyColor+span {
   font-size: 1.5em;
   position: relative;
   left: 5px;
   bottom: 5px;
}





#filterPage {
   grid-area: filter;
   display: flex;
   flex-flow: column;
   justify-content: space-between;
   border-left: black 2px solid;
}

.filterSection {
   display: flex;
   justify-content: space-between;
   border-bottom: 2px solid black;
}

.filterSection>h1 {
   text-align: center;
   font-family: serif;
}

.filterSection>h2,.filterSection>h1 {
   position: relative;
   left: 10px;
}

.filter-arrow {
   flex-basis: 4%;
   color: black;
   display: inline;
   font-size: 4em;
}

#filterFooter {
   text-align: center;
   margin-bottom: 30px;
}

.red-button {
   background: #800000;
   color: white;
   border: 2px solid black;
   border-radius: 0;
   font-weight: bold;
   height: 80px;
   width: 200px;
   font-size: 1.5em;
   padding-left: 10px;
   padding-right: 10px;
   margin-left: 6px;
   margin-right: 6px;
}

.red-button:active {
   background: #802020;
}

@media (max-width: 1000px) {
   body {
      grid-template-areas:
         "nav"
         "display";
      grid-template-columns: auto;
      grid-template-rows: 50px auto;
   }
   
   #filter {
      display: inherit;
   }
   
   #displayPage {
      margin-right: 4%;
   }
   
   #filterPage {
      display: none;
   }
}