body {
   margin: 0;
   display: grid;
   font-family: "Roboto", sans-serif;
   grid-template-areas:
      "nav     nav"
      "display filter";
   grid-template-columns: auto 33%;
   grid-template-rows: 50px auto;
   height: 100vh;
}





nav {
   background: #800000;
   grid-area: nav;
   color: white;
   width: 100%;
   height: 50px;
   position: fixed;
   justify-content: space-between;
   display: flex;
   top: 0;
}

#menu {
   font-size: 3em;
   position: absolute;
   left: 5px;
   top: 0px;
}

#help {
   font-weight: bold;
   font-size: 3em;
   position: absolute;
   right: 10px;
   top: -4px;
}

#courseSelectorLabel {
   font-family: serif;
   font-size: 1.6em;
   position: relative;
   top: -15px;
}

#courseSelectorArrow {
   font-size: 3em;
   position: relative;
   right: 4px;
   top: 1px;
}





#displayPage {
   grid-area: display;
   display: flex;
   flex-flow: column;
   justify-content: space-between;
   margin-left: 2.5%;
   margin-right: 8%;
}

#displayHeader {
   display: flex;
   margin-top: 20px;
   justify-content: space-between;
}

#displayHeader>i {
   font-size: 3em;
   color: black;
   position: relative;
   top: 10px;
}

#displayKeyLabel {
   font-size: 2em;
   margin-left: 3px;
}

#displayKeyEntryList {
   display: flex;
   height: 22vh;
   margin-top: 8px;
   flex-flow: column wrap;
}

.displayKeyEntry {
   margin: 5px;
}

.displayKeyColor {
   display: inline-block;
   width:  30px;
   height: 30px;
   background: red;
   border: 1px solid black;
}

.displayKeyColor+span {
   font-size: 1.5em;
   position: relative;
   left: 5px;
   bottom: 5px;
}





#filterPage {
   grid-area: filter;
   display: flex;
   flex-flow: column;
   justify-content: space-between;
   border-left: black 2px solid;
}

.filterSection {
   display: flex;
   justify-content: space-between;
   border-bottom: 2px solid black;
}

.filterSection>h1 {
   text-align: center;
   font-family: serif;
}

.filterSection>h2,.filterSection>h1 {
   position: relative;
   left: 10px;
}

.filter-arrow {
   flex-basis: 4%;
   color: black;
   display: inline;
   font-size: 4em;
}

#filterFooter {
   text-align: center;
   margin-bottom: 30px;
}

.filter-button {
   background: #800000;
   color: white;
   border: 2px solid black;
   border-radius: 0;
   font-weight: bold;
   height: 80px;
   font-size: 1.5em;
   padding-left: 10px;
   padding-right: 10px;
   margin-left: 6px;
   margin-right: 6px;
}

.filter-button:active {
   background: #802020;
}